<?xml version="1.0" encoding="utf-8"?><!--  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alberto.carlos.sabortropical"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Telas.MainActivity" />
        <activity
            android:name=".Telas.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".Telas.Usuario.UsuariosActivity"
        android:label="@string/title_activity_usuarios" />
        <activity
            android:name=".Telas.Usuario.UsuariosCadActivity"
            android:label="@string/title_activity_usuarios_cad" />
        <activity android:name=".Telas.Usuario.UsuariosEditDelActivity"
            android:label="@string/title_activity_usuarios_edit_del"/>
        <activity
            android:name=".Telas.Cliente.ClientesActivity"
            android:label="@string/title_activity_clientes" />
        <activity
            android:name=".Telas.Cliente.ClientesCadActivity"
            android:label="@string/title_activity_clientes_cad" />
        <activity android:name=".Telas.Cliente.ClientesEditDelActivity"
            android:label="@string/title_activity_clientes_edit_del"/>
        <activity
            android:name=".Telas.Fornecedor.FornecedoresActivity"
            android:label="@string/title_activity_fornecedores" />
        <activity
            android:name=".Telas.Fornecedor.FornecedoresCadActivity"
            android:label="@string/title_activity_fornecedores_cad" />
        <activity android:name=".Telas.Fornecedor.FornecedoresEditDelActivity"
            android:label="@string/title_activity_fornecedores_edit_del"/>
        <activity
            android:name=".Telas.Armazenamento.ArmazenamentosActivity"
            android:label="@string/title_activity_armazenamentos" />
        <activity
            android:name=".Telas.Armazenamento.ArmazenamentosCadActivity"
            android:label="@string/title_activity_armazenamentos_cad" />
        <activity android:name=".Telas.Armazenamento.ArmazenamentosEditDelActivity"
            android:label="@string/title_activity_armazenamentos_edit_del"/>
    </application>

</manifest>